<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="iCub_ros2_control" params="name:=^|icub_controller initial_positions_file input_node:=^|icub_cb_node input_msgs_name:=^|icub_cb_msgs">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="left_arm_${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>icub_controller/ICubController</plugin>
                <param name="node_name">icub_cb_node</param>
                <param name="msgs_name">icub_cb_msgs</param>
            </hardware>
            <joint name="l_shoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_elbow">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_elbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_prosup">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_prosup']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="right_arm_${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>icub_controller/ICubController</plugin>
                <param name="node_name">icub_cb_node</param>
                <param name="msgs_name">icub_cb_msgs</param>
            </hardware>
            <joint name="r_shoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_elbow">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_elbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_wrist_prosup">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_wrist_prosup']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_wrist_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_wrist_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_wrist_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_wrist_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="left_leg_${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>icub_controller/ICubController</plugin>
                <param name="node_name">icub_cb_node</param>
                <param name="msgs_name">icub_cb_msgs</param>
            </hardware>
            <joint name="l_hip_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_hip_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_hip_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_hip_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_hip_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_hip_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_knee">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_knee']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_ankle_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_ankle_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_ankle_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_ankle_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="right_leg_${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>icub_controller/ICubController</plugin>
                <param name="node_name">icub_cb_node</param>
                <param name="msgs_name">icub_cb_msgs</param>
            </hardware>
            <joint name="r_hip_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_hip_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_hip_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_hip_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_hip_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_hip_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_knee">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_knee']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_ankle_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_ankle_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_ankle_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_ankle_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="head_${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>icub_controller/ICubController</plugin>
                <param name="node_name">icub_cb_node</param>
                <param name="msgs_name">icub_cb_msgs</param>
            </hardware>
            <joint name="neck_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['neck_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="neck_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['neck_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="neck_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['neck_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <ros2_control name="torso_${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>icub_controller/ICubController</plugin>
                <param name="node_name">icub_cb_node</param>
                <param name="msgs_name">icub_cb_msgs</param>
            </hardware>
            <joint name="torso_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torso_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="torso_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torso_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="torso_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torso_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
        <gazebo>
          <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find icub_moveit_config)/config/ros2_controllers.yaml</parameters>
          </plugin>
        </gazebo>
    </xacro:macro>
</robot>
