<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iCub">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="input_node" default="icub_cb_node" />
    <xacro:arg name="input_component" default="icub_controller" />
    <xacro:arg name="input_msgs_name" default="icub_cb_msgs" />
    <!-- Import iCub urdf file -->
    <xacro:include filename="$(find iCub)/robots/iCubGazeboV2_5/model.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="iCub.ros2_control.xacro" />


    <xacro:iCub_ros2_control name="$(arg input_component)" initial_positions_file="$(arg initial_positions_file)" input_node="$(arg input_node)" 
    input_msgs_name="$(arg input_msgs_name)" />

</robot>
