name: CI workflow

on:
  pull_request:
    branches:
      - master
  push:
    branches: 
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/xcub-moveit2

      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          tags: xcub-moveit2:latest
          file: Dockerfile
          push: false

      - name: Build ros2 packages
        run: |
          docker run \
            --rm \
            -v ${{ github.workspace }}:/ros2_ws \
            xcub-moveit2:latest \
            bash -c "
              cd /ros2_ws
              . /opt/ros/humble/setup.sh
              colcon build || exit 1
            "
